.theme-doom-64 {
  &:root {
    --background: oklch(0.85 0 0);
    --foreground: oklch(0.24 0 0);
    --card: oklch(0.76 0 0);
    --card-foreground: oklch(0.24 0 0);
    --popover: oklch(0.76 0 0);
    --popover-foreground: oklch(0.24 0 0);
    --primary: oklch(0.50 0.19 27.48);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.50 0.09 126.19);
    --secondary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.78 0 0);
    --muted-foreground: oklch(0.41 0 0);
    --accent: oklch(0.59 0.10 245.74);
    --accent-foreground: oklch(1.00 0 0);
    --destructive: oklch(0.71 0.20 46.46);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.43 0 0);
    --input: oklch(0.43 0 0);
    --ring: oklch(0.50 0.19 27.48);
    --chart-1: oklch(0.50 0.19 27.48);
    --chart-2: oklch(0.50 0.09 126.19);
    --chart-3: oklch(0.59 0.10 245.74);
    --chart-4: oklch(0.71 0.20 46.46);
    --chart-5: oklch(0.57 0.04 40.43);
    --sidebar: oklch(0.76 0 0);
    --sidebar-foreground: oklch(0.24 0 0);
    --sidebar-primary: oklch(0.50 0.19 27.48);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.59 0.10 245.74);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0.43 0 0);
    --sidebar-ring: oklch(0.50 0.19 27.48);
    --font-sans: "Oxanium", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Source Code Pro", monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1.00);
  }

  &.dark {
    --background: oklch(0.22 0 0);
    --foreground: oklch(0.91 0 0);
    --card: oklch(0.29 0 0);
    --card-foreground: oklch(0.91 0 0);
    --popover: oklch(0.29 0 0);
    --popover-foreground: oklch(0.91 0 0);
    --primary: oklch(0.61 0.21 27.03);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.64 0.15 133.01);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.26 0 0);
    --muted-foreground: oklch(0.71 0 0);
    --accent: oklch(0.75 0.12 244.75);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.78 0.17 68.09);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.41 0 0);
    --input: oklch(0.41 0 0);
    --ring: oklch(0.61 0.21 27.03);
    --chart-1: oklch(0.61 0.21 27.03);
    --chart-2: oklch(0.64 0.15 133.01);
    --chart-3: oklch(0.75 0.12 244.75);
    --chart-4: oklch(0.78 0.17 68.09);
    --chart-5: oklch(0.65 0.03 40.80);
    --sidebar: oklch(0.19 0 0);
    --sidebar-foreground: oklch(0.91 0 0);
    --sidebar-primary: oklch(0.61 0.21 27.03);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.75 0.12 244.75);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.41 0 0);
    --sidebar-ring: oklch(0.61 0.21 27.03);
    --font-sans: "Oxanium", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Source Code Pro", monospace;
    --radius: 0px;
    --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
    --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
    --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
    --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
    --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 2px 4px -1px hsl(0 0% 0% / 0.60);
    --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 4px 6px -1px hsl(0 0% 0% / 0.60);
    --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 8px 10px -1px hsl(0 0% 0% / 0.60);
    --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.50);
  }
}